<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	@{
		var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
		var serverUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));

	}
	
	<script>
		window.root_url = "@serverUrl";
	</script>

</head>
<body>
	<div class="container body-content">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="~/">Simple vue.js</a></li>
					<li><a href="~/VueRouting">Vue.js routing</a></li>
					<li><a href="~/FetchData">Fetch Data with Vue</a></li>
				</ul>
			</div>
		</nav>


		@RenderBody()
		<hr />
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

	@Scripts.Render("~/Scripts/app/" + controllerName + "/bundle.js")
</body>
</html>
